<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="utf-8">
    <title>nochso/Benchmark{% if title is defined %} - {{ title }}{% endif %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="asset/css/normalize.css">
    <link rel="stylesheet" href="asset/css/skeleton.css">
    <link rel="stylesheet" href="asset/css/prism.css">
    <style>
      body {
        font-size: 1.6em;
        font-family: "Source Sans Pro","Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      time, span[title] {
        text-decoration:  underline #1EAEDB;
      }
      dt {
        float: left;
        text-align: right;
        width: 170px;
      }
      dd {
        margin-left: 185px;
      }
      code, pre {
        border: none !important;
        background-color: transparent !important;
      }
      td p {
        margin-bottom: 0;
      }
      .collapse{
        display: block;
      }
      .collapse + input{
        display: none;
      }
      .collapse + input + *{
        display: none;
        background-color: white;
        border: 1px solid #E1E1E1;
        -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
        box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
        border-radius: 5px;
        padding: 0.7em;
      }
      .collapse+ input:checked + *{
        display: block;
        position: absolute;
      }
      /* Override Skeleton's label */
      label.collapse {
        font-weight: normal;
        cursor: pointer;
      }
    </style>
  {% endblock %}
</head>
<body class="language-php">
<script src="asset/js/prism.js"></script>
{% block body %}
  <div class="container">
    {% block content %}{% endblock %}
  </div>
{% endblock %}
</body>
</html>
